<header>
    <link rel="stylesheet" href="css/index.css">

    <div class="pagos">
        <h5 class="cp">Cuotas de 3, 6 y 12 pagos SIN INTERÉS</h5>
    </div>
    <div class="encon">
    <!-- <h1 class="titulo"> ENCONTRATE </h1> -->
    <a href="index"><h1 class="titulo">ENCONTRATE</h1></a>
    </div>
    <div class="login-registro">
        <ul class="rl">
            <li class="log-reg"><a href="register">Registrate -</a></li>
            <li class="log-reg"><a href="login">Login</a></li>          
        </ul>
    </div>

<div class="carrito-busqueda">
<div class="field" id="searchform">
<input type="text" id="searchterm" placeholder="¿Qué necesitas?" />
<button type="button" id="search">  ¡Buscar!  </button>
<div class="carritoDeCompras">            
<span style="font-size: 48px;"><a href="productCar"></li><i class="fas fa-shopping-cart"></a></i></a></span>
    </div>
</div>
</div>

<nav>
 <div>
       <ul class="lista-menu">
           <li class="menu"><a class="letra" href="productDetail">GPS</a></li>
           <li class="menu"><a class="letra" href="#">Mapas</a></li>
           <li class="menu"><a class="letra" href="#">Accesorios</a></li>
           <li class="menu"><a class="letra" href="#">Software</a></li>
           <li class="menu"><a class="letra" href="#">Indumentaria</a></li>
           <li class="menu"><a class="letra" href="#">Rebajas</a></li>
       </ul>
</div> 
</nav>
</header>