

<header>
    <link rel="stylesheet" href="css/registerAdministrator.css">
<nav>
    <div>
          <ul class="lista-menu">
              <li class="menu"><a class="letra" href="productEdition">Edición de Productos</a></li>
              <li class="menu"><a class="letra" href="registerAdministrator">Administrador</a></li>
              <li class="menu"><a class="letra" href="#">Proveedores</a></li>
              <li class="menu"><a class="letra" href="#">Bancos</a></li>
              <li class="menu"><a class="letra" href="#">Facturación</a></li>
              <li class="menu"><a class="letra" href="index">Vista Cliente</a></li>
          </ul>
   </div> 
</nav>
</header>