<!DOCTYPE html>
<html>

 <body>
    <link rel="stylesheet" href="/css/index.css">

<h1>Página en Construcción</h1>



 <!-- Se incluye Footer -->

 <%-include('./partials/footer') %>  
 

</body>
</html>