<%-include("./partials/head")%>
<link rel="stylesheet" href="css/login.css">
<body>
    <header>
        <div class="encon">
            <h1 class="titulo"> ENCONTRATE </h1>
        </div>

     </header>

     <div class = "page">
        <div class = "main-container col1-layout">
        <div class = "main">
        <div class = "col-main">
        <div class = "account-login bg-white">
        <div class = "container-login">
        <h1> Iniciar sesi칩n en Encontrate</h1>
        <div class= "inciar" action="https://www.twonav.com./es/customer/account/loginPost/" method="post" id="login-form">
        <input name= "form_key" type="hidden" value= "TLBhElk24uZUBQa7">
        </div>
        <div class= "correo">
        <label> Usuario </label>
        <input type= "usuario" name= "login [username]" value id ="email" 
        class = "seguimos correo" tabindex= "1" placeholder = "Tu usuario">
        </div>
        <div class = "clave">
        <label> Contrase침a </label>
        <input type="password" name = "login [password]" class ="tu-clave"
        tabindex= "2" placeholder ="Tu Contrase침a">
        </div>
        <div>
        
    <br>
        <div class= "iniciar-sesion">
        <input id ="submitlogin" type= "submit" class="hola" value="Iniciar sesi칩n">
         </div>
         </form>
         </div>
         </div>

    