<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a Encontrate</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Noto+Serif:ital,wght@0,700;1,700&family=Roboto&family=Shadows+Into+Light&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/productCar.css">          
    </head>
<body>
    <header>
        <div class="encon">
        <h1> ENCONTRATE </h1>
        </div>
        <div class="login-registro">
            <ul>
                <li><a href="register">Registrate</a></li>
                <li><a href="login">Login</a></li>                
            </ul>
        </div>
        <nav>
       <div class="menu">
           <ul>
               <li><a href="productCar">GPS</a></li>
               <li><a href="#">Mapas</a></li>
               <li><a href="#">Accesorios</a></li>
               <li><a href="#">Software</a></li>
               <li><a href="#">Indumentaria</a></li>
               <li><a href="#">Rebajas</a></li>
           </ul>
    </div> 
</nav>
<!-- //Barra de Busqueda// -->
<div class="form" action="#" method="GET">
    <div class="input">Busqueda</div>
     <div class="submit"><i class="fa fa-search"></i></div>
<ul>
    <!-- /*Logo Carrito de Compra*/ -->
    <li><a href="productCar"><i class="fas fa-shopping-cart"></i></a></li>
</ul>
   </header>

   
<!-- /*Carrito de compras vacio*/ -->
<body>
    <h6>Carrito de Compras</h6>
<div class="checkout-car-index">
    <span class="shopping-car-container">    
        <img src="img/gps-aventura-2-hiking-en-2.jpg">
        <p>Cross Azul</p>
        <p>1</p>
        <i class="far fa-trash-alt"></i>
        <p>$ 28.900</p>
    </span>
    </div>
        <form id="cart-update" action="#" method="post"></form>
        <input name="form-key" type="hidden" value="#">
        <div class="empty-case is-big">
            <div class="button-set">
                <ul><li><a href="index">Seguir Comprando</a></li></ul>
            </div>
        </div>
        </div>
        </div>  
        </div>







       <footer>
            <div class="footer">
                <div class="ayuda">
                    <h4>¿Necesitas Ayuda?</h4>
                    <p>Contacta a nuestros asesores </p>
                </div>
                <div class="primera-columna">
                <nav>
                    <ul>
                        <li class="Encontrate">ENCONTRATE</li>                    
                        <li><a href="#">GPS</a></li>
                        <li><a href="#">Mapas</a></li>
                        <li><a href="#">Accesorios</a></li>
                        <li><a href="#">Software</a></li>
                        <li><a href="#">Indumentaria</a></li>
                        <li><a href="#">Rebajas</a></li>                
                    </ul>
            
                </div>
                    <div class="segunda-columna">           
                    <ul>
                        <li class="Sobre-nosotros">Sobre Nosotros</li>                
                        <li><a href="#">La Compañía</a></li>
                        <li><a href="#">Trabajá con Nosotros</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>    
                </nav>
                </div>
        
        </footer>
        
</body>
</html>

