<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="css/productDetail.css">
    </head>
 <body>
     <!-- se incluye Head -->
    <%-include('./partials/head') %>
    <!-- Se incluye Header -->
    <%-include('./partials/header') %>

    <!-- /* Definición categorías de productos*/ -->
    <!-- de la pagina original solo se confecciono el recuadro principal. -->
    <main>
    <!-- <div class="page">     -->
        <section class="category-product">
            <!-- /*en pantalla ampliada las imagenes estan al lado izquier*/ -->
            <div class="article_banner_left">
                <div class="img-Principal">
                    <!-- <i class="fas fa-angle-left color-dark"></i>  -->
                    <img src="img/gps-aventura-2-motor-car-4x4-quad-motorbike-en-1.jpg"></img>
                    <!-- <i class="fas fa-angle-right"></i>   -->
                </div>
                <div class="imgMini">
                    <img src="img/gps-aventura-2-motor-car-4x4-quad-motorbike-en-2.jpg"></img>
                    <img src="img/gps-aventura-2-motor-coche-4x4-quad-moto-es-2.jpg"></img>
                    <img src="img/gps-aventura-2-senderisme-ca.jpg"></img>
                    <img src="img/gps-aventura-2-senderismo-es-1.jpg"></img>              
                </div>
            </div>
            <div class="article_banner_right">
                <div class="main-article">
                    <p class="small-type">Montañismo - Alpinismo</p>                 
                    <img class="logo_products" src="img/logo-aventura-2-black.jpg">                                                            
                    <h1>
                    "El GPS para los deportes extremos al aire libre"
                    </h1>
                    <p>
                    "Diseñado específicamente para montañismo, alpinismo y cualquier otro deporte extremo al aire libre. Este innovador GPS ha sido fabricado para resistir travesías en las condiciones meteorológicas más duras. Cuenta con una pantalla de 3,7'' con la que podrás visualizar los mapas topográficos y de carreteras, según la ruta que vayas a practicar."
                    </p>
                </div>
                <div class="price-box">
                    <h5 class="regularPrice">Precio Regular</h5> 
                    <h2>$35.000</h2>
                    <h6 class="newPrice">Precio Promoción</h6>
                    <h3>
                    <span class="old-price">$28.500</span>
                    </h3>
                </div>
                <div class="product-button-addtocards">
                    <button type="button" href="#" title="Comprar" class="buy">Comprar</button>
                </div>            
                <div class="payment-container">
                    <img src="https://imgmp.mlstatic.com/org-img/banners/ar/medios/785X40.jpg" 
                    title="Mercado Pago - Medios de pago" alt="Mercado Pago - Medios de pago" 
                    width="785" height="40"/>                           
                </div>
        </section> 
        <section class="productAccesory">
                <div class="block1">
                    <div class="blockImg">
                    <img src="img/bg-hardware-overview-02.jpg">
                    <div class="blockDescription">
                    <h4>Accesorio</h4>
                    <h1>Soporte de manillar RAM</h1>
                    <p>Esta cuna de repuesto, diseñada exclusivamente para Aventura y Trail, le permite montar su GPS en cualquier vehículo para proporcionar una vista clara de su ruta.</p>
                    </div>
                    </div>
                </div>
                <div class="block2">
                    <div class="blockImg">
                    <img src="img/gps-trail-2-bike-mountain-biking-en-1.jpg">
                    <div class="blockDescription">
                    <h4>Trail 2</h4>
                    <h1>Explore la montaña de forma segura y precisa</h1>
                    <p>GPS diseñado para senderistas, senderistas y profesionales que necesitan un dispositivo compacto y de alta precisión. Con la nueva señal GPS de Galileo para complementar las señales.</p>
                    </div>
                    </div>
                </div>
                <div class="block3">
                    <div class="blockImg">
                    <img src="img/land_small__af__7.jpg">
                    <div class="blockDescription">
                    <h4>Land PREMIUM</h4>
                    <h1>Crea tu propio mundo al aire libre</h1>
                    <p>Prepare y analice sus actividades en la mejor y más amplia variedad de mapas. Land ofrece el conjunto de herramientas más avanzado para crear y estudiar sus excursiones en cada detalle.</p>
                    </div>
                    </div>
                </div>
            </section>
        <section class="banners-section-products">
                    <div class="banner-pantalla">
                    <img src="img/aventura-bg-animation-desktop.jpg">
                    <img src="img/vuelo.jpg">
                    <img src="img/motor.jpg">
                    <img src="img/ciclismo.jpg">
                    </div>   





        </section>

                
            </div>






     <!-- </div> -->
   
    


            
            
            
            
            
            
        
       
            
           
</main>         
 <!-- Se incluye Footer -->

 <%-include('./partials/footer') %>   
                
                  
</body>
</html>