<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a Encontrate</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Noto+Serif:ital,wght@0,700;1,700&family=Roboto&family=Shadows+Into+Light&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/productCar.css">          
    </head>
<body>
    <header>
        <div class="encon">
        <h1> ENCONTRATE </h1>
        </div>
        <div class="login-registro">
            <ul>
                <li><a href="register">Registrate</a></li>
                <li><a href="login">Login</a></li>                
            </ul>
        </div>
        <nav>
       <div class="menu">
           <ul>
               <li><a href="productCar">GPS</a></li>
               <li><a href="#">Mapas</a></li>
               <li><a href="#">Accesorios</a></li>
               <li><a href="#">Software</a></li>
               <li><a href="#">Indumentaria</a></li>
               <li><a href="#">Rebajas</a></li>
           </ul>
    </div> 
</nav>
<!-- //Barra de Busqueda// -->
<div class="form" action="#" method="GET">
    <div class="input">Busqueda</div>
     <div class="submit"><i class="fa fa-search"></i></div>
<ul>
    <!-- /*Logo Carrito de Compra*/ -->
    <li><a href="productCar"><i class="fas fa-shopping-cart"></i></a></li>
</ul>
   </header>





<body> 
<!-- /*Carrito de compras vacio*/ -->



    <!-- <h6>Carrito de Compras</h6>
<div class="checkout-car-index">
    <span class="shopping-car-container">    
        <img src="img/gps-aventura-2-hiking-en-2.jpg">
        <p class="description">Cross Azul</p>
        <p class="qty">1</p>
        <i class="far fa-trash-alt"></i>
        <p class="price">$ 28.900</p>
        <label class="total">
            <p class="parcial">Total Parcial</p>
            <!-- <p class="envio">Envio</p> -->
            <p class="precioTotal">Precio Total</p>
        </label>
    </div> -->

    <!-- Sección sub totales, totales y envío -->
<div class="totals"
        <table class="table-reviews">
            <tbody>
                <tr>
                    <td>
                        <!-- sub total -->
                        <font style="vertical-align:inherit">
                            Total Parcial               </font>
                    </td>                
                <td align="right">
                    <div class="amount-subtotal"></div>
                    <span class="price">$ 28.900</span>
                </div>
                </td>
            </tr>         
            <!-- Envío -->
                <font style="vertical-align:inherit">
                        Envio                </font> 
        <i class="fa fa-question-circle btooltip" data-toggle="tooltip" data-placement="bottom" title data-original-title="Envío gratuito en pedidos superiores a $ 4.000" aria-describedby="tooltip83321">..</i>
        <div class="tooltip fade botton in" role="tooltip" id="tooltip83321" style="top: 525px; left:1073.08px; display:none;">
           <div class="tooltip-arrow" style="left: 50%,"></div>
           <div class="tooltip-inner">
               <font style="vertical-align:inherit;"></font>
           </div>
         </div>
         </td>
        <td align="right">
            <div class="amount-shipment-placeholder">
                <font style="vertical-align:inherit;">
                    <font style="vertical-align:inherit;">Envío gratis</font>
                </font>
            </div>
        </td>
        </tr>
        <!-- Total -->
        <tr class="has-big-label">
            <td>
            <font style="vertical-align:inherit;">
                <font style="vertical-align:inherit;">Precio Total</font>
            </font>
            </td>
        <td align="right">
            <div class="amount-grand-placeholder">
                <span class="price">
                    <font style="vertical-align:inherit;">
                        <font style="vertical-align:inherit;">$ 28.900</font>
                    </font>
                </span>    
            </div>
        </td>
        </tr>
            </tbody>
<div class="placer-order">
    <button type="button" title="Seguir comprando" class="btmFlat is-transparent hidden-to-md" onclick="index">
        <font style="vertical-align:inherit;">
            <font style="vertical-align:inherit;">Seguir comprando        </font>
        </font>
    </button>
    <button type="button" title="Pagar" class="btnFlat accent btn-proceed" onclick="#";>
        <font style="vertical-align:inherit;">
            <font style="vertical-align:inherit;">
                    Pagar     </font>
        </font>
    </button>
</div>




        
       

        







       </body>
</html>

