
/*Carrito de compras vacio*/
<body class="checkout-cart-index">


<div class="shopping-cart-container">
    <div class="main">
        <div class="col-main">
    <h2>Carrito de Compras</h2>
    //*<form id="cart-update" action="#" method="post"></form>*//
        //*<input name="form-key" type="hidden" value="#">*//
        <div class="empty-case is-big">
            <i class="fa fa-shopping-cart">::Before</i>
            <div class="button-set">
                <a href="#" class="btnflat is-transparent is-big">Continuar Comprando</a>
            </div>
        </div>
        </div>
        </div>  
        ::after
        </div> 
        
        



        







</body>
