<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a Encontrate</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Noto+Serif:ital,wght@0,700;1,700&family=Roboto&family=Shadows+Into+Light&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/productCar.css">
    </head>
<body>
    <header>
        <div class="encontrate">
        <h1> ENCONTRATE </h1>
        </div>
        <div class="login-registro">
            <ul>
                <li><a href="/register">Registrate</a></li>
                <li><a href="/login">Login</a></li>                
            </ul>
        </div>
        <nav>
       <div class="menu">
           <ul>
               <li><a href="/productCar">GPS</a></li>
               <li><a href="#">Mapas</a></li>
               <li><a href="#">Accesorios</a></li>
               <li><a href="#">Software</a></li>
               <li><a href="#">Indumentaria</a></li>
               <li><a href="#">Rebajas</a></li>
           </ul>
    </div> 
</nav>
<!-- //Barra de Busqueda// -->
<div class="form" action="#" method="GET">
    <div class="input">Busqueda</div>
     <div class="submit"><i class="fa fa-search"></i></div>
<ul>
    <!-- /*Logo Carrito de Compra*/ -->
    <li><a href="/productCar"><i class="fas fa-shopping-cart"></i></a></li>
</ul>
   </header>
 <body>
    <!-- /* Definición categorías de productos*/ -->
    <main>
        <section class="category-product">
            <div class="gps">
                <article>
                    <!-- /*en pantalla ampliada las imagenes estan al lado izquier*/ -->
                    <div class="article_banner_left"> 
                    <img src="img/aventura_1_2.png" alt="Aventura" class="gps_img">
                    <img src="img/gps-aventura-2-hiking-en-2.png" alt="Aventura2" class="gps_img">
                    <img src="img/gps-aventura-2-motor-car-4x4-motorbike-1.png" alt="Aventura3" class="gps_img">
                    <img src="img/gps-aventura-2-motor-car-4x4-motorbike-2.png" alt="Aventura4" class="gps_img">
                </div>
                <!-- /*en pantalla ampliada la descripcion se encuentra del lado derecho */ -->
                    <div class="banner_main_article_right"> 
                    <div class="main-article">
                        <p class="small-type">Montañismo - Alpinismo</p>
                        <br>
                        <img class="logo_products" src="img/logo-aventura-2-black.png">
                        </div>                                         
                    <h1>
                        <span>Aventura</span>
                        "El GPS para los deportes extremos al aire libre"
                    </h1>
                    <p>
                        "Diseñado específicamente para montañismo, alpinismo y cualquier otro deporte extremo al aire libre. Este innovador GPS ha sido fabricado para resistir travesías en las condiciones meteorológicas más duras. Cuenta con una pantalla de 3,7'' con la que podrás visualizar los mapas topográficos y de carreteras, según la ruta que vayas a practicar."
                    </p>
                    <div class="label-promocion is-danger is-offer">
                        <span class="label-promocion is-text">Rebajas</span>
                    </div>
                    <div class="price-disposition">
                    <div class="price-box">
                        <p class="minimal-price regular-price style">
                        <span class>="regular price">$15.000</span>
                        <span class="old-price">$18.500</span>
                    </p>
                    </div>
                    </div>   
                    <div class="payment-container">
                        <div id="payment-mode" class="simulator" style="display: inline-block">
                        <img src="img/medios-de-pago.png"> alt="medios-de-pago" class="pago">
                    </div>
                    <div class="product-button-addtocards"> style="clear: both";>
                        <button type="button" href="#" title="Comprar" class="buy">Comprar</button>
                        </div>
                    <div class="product-banner-description">
                        <div class="bloque-descripcion" id="description" item_mayor="-1">
                            <div class="mynav" style="margin-bottom: -13px;">..</div>
                            <div class="owl-item active" style="width: 270px; margin-right: 10px;">
                            <div class="block-box item">
                                <div class="block-box- img">
                                    <img data-src="/img/gps-aventura-2-hiking-en-2.png" class="lazyloaded">
                                </div>
                            <div class="block-box-description">..</div>
                            </div>
                            </div>
                            </div>
                    </div class="owl-item-active" style="width: 270px; margin-right: 10px;"></div>   
                    <div class="owl-item" style="width: 270px; margin-right: 10px;">..</div>
                    ::after
                    <div class="owl-nav disabled">..</div>  
                    <div class="owl-dot active">
                        <span>..</span>
                    </div>
                    <div class="owl-dot">..</div>
                    </div>
                    ::after
                </section>         
>                </article>                     
<footer>
    <div class="footer">
        <div class="ayuda">
            <h4>¿Necesitas Ayuda?</h4>
            <p>Contacta a nuestros asesores </p>
        </div>
        <div class="primera-columna">
        <nav>
            <ul>
                <h4>ENCONTRATE</h4>                    
                <li><a href="#">GPS</a></li>
                <li><a href="#">Mapas</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Software</a></li>
                <li><a href="#">Indumentaria</a></li>
                <li><a href="#">Rebajas</a></li>                
            </ul>
    
        </div>
            <div class="segunda-columna">           
            <ul>
                <h4>Sobre Nosotros</h4>                
                <li><a href="#">La Compañía</a></li>
                <li><a href="#">Trabajá con Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>    
        </nav>
        </div>

</footer>
</body>
</html>