<!DOCTYPE html>
<html>
             <!-- se incluye Head -->
             <%-include('./partials/head') %>
<body>
    <!-- <link rel="stylesheet" href="/css/profile.css"> -->

         <!-- Se incluye Header -->
         <%-include('./partials/header') %>

         <div class="presentation">
             <div class="first_name">
                 <h1> "Hola, <%= users.first_name %>"</h1>
            <div class="avatar">
                <img src= "/img/avatar/<%= users.avatar%>">
            </div>
            </div>
         </div>
         <div class="visits">

         </div>

</body> 
</html>        