<!DOCTYPE html>
<html>
            
<body>

         <div class="presentation">
             <div class="first_name">
                 <h1> "Hola, <%= users.first_name[0] %>"</h1>
            </div>
            <div class="avatar">
                <img src= "/img/avatar/<%= users.avatar %>">
            </div>
            
         </div>
         

        

</body> 
</html>        