<!DOCTYPE html>
<html>
    
<body>
    <link rel="stylesheet" href="/css/registerAdministrator.css">
   <!-- Se incluye Header Interno -->
   <%-include('./partials/headerInterno') %>

    <h1>Página de Administrador</h1>
    <h2>Carga-Modificación-Elimación de Productos</h2>
    <section class="pageAdministrator">
        <h3>Categoría del Productos</h3>
         <!-- Se agrego metodo post-->
        <form action='/products' method="POST" enctype="multipart/form-data"> 
        <div class="category"> 
            <label for="category" class="form-label">Categoría:</label>
            <input type="text" id="category" name="category" placeholder="Ej. Montañismo" class="form-input"> 
            <!-- <h4>Actividad</h4> -->
            <label for="activity" class="form-label">Actividad</label>
            <input type="text" id="activity" name="activity" placeholder="Ej. Montañismo - Senderismo" class="form-input"> 
                        <!-- ej. si es aventura, cross, motor u otros -->
            
        </button>
        <button type="newCategory" title="newCategory" class="btnFlat accent btn-proceed" onclick="#";>
            <font style="vertical-align:inherit;">Agregar Categoría</font>
        </button>
        <button type="newActivity" title="newCategory" class="btnFlat accent btn-proceed" onclick="#";>
            <font style="vertical-align:inherit;">Agregar Actividad</font>
        </button>
        </div>

        <!-- <h3>Datos del Proveedor</h3> -->
        <!-- <div class="supplier"> -->
            <!-- Id Proveedor -->
            <!-- <label for="supplier" class="form-label">Id Proveedor:</label> -->
            <!-- <input type="number" id="supplier" name="supplier" placeholder="Ej. 2520" class="form-input">  -->
            <!-- Nombre del proveedor  -->
            <!-- <label for="supplier" class="form-label">Nombre Proveedor:</label> -->
            <!-- <input type="text" id="supplier" name="supplier" placeholder="Ej. twonav" class="form-input"> -->
                        <!-- tiempo de entrega  -->
            <!-- <label for="libTime" class="form-label">Tiempo de entrega:</label> -->
            <!-- <input type="number" id="libTime" name="libTime" placeholder="Ej. 60" class="form-input"> -->
           
        <!-- </button> -->
        <!-- <button type="newsupplier" title="newsupplier" class="btnFlat accent btn-proceed" onclick="#";> -->
            <!-- <font style="vertical-align:inherit;">Agregar Proveedor</font> -->
        <!-- </button>             -->
        <!-- </div>   -->
        <h3>Descripción del producto</h3>
        <div class="descripcion">
            <!-- descripcion del producto -->
            <label for="description" class="form-label">Nombre del producto:</label>
            <input type="text" id="description" name="description" placeholder="Ej. Aventura 2" class="form-input">
           <!-- descripción principal de funciones del producto -->
            <label for="description" class="form-label">Descripción del producto</label>
            <!-- <input type="text" id="description" name="description" placeholder="Ej. "Diseñado específicamente para montañismo, alpinismo y cualquier otro deporte extremo al aire libre. ....." class="form-input"> -->
            <textarea id="description" name="description" rows="5" cols="100"></textarea>
                 <!-- descripción principal del producto. detalles         -->
            
            <label for="resenia" class="form-label">Reseña:</label>
            <input type="text" id="resenia" name="resenia" placeholder="Ej. El GPS para los deportes extremos al aire libre" class="form-input">

     
           
            <!-- <label for="vendorPack" class="form-label">Unidades por caja:</label> -->
            <!-- <input type="number" id="vendorPack" name="vendorPack" placeholder="Ej. 12" class="form-input"> -->
            <div class="insertImgLogo">
               
                <!-- <input type="file" name="imagen" /> -->
               
            </div>
            <label for="logo" class="form-label">Inserte Logo del Producto:</label>
            <input type="file" name="logo" id="logo" class="form-input">


        <!-- <button type="boxInclude" title="boxInclude" class="btnFlat accent btn-proceed" onclick="#";> -->
            <!-- <font style="vertical-align:inherit;">Accesorios Incluidos</font> -->
        <!-- </button> -->
        <button type="techDetails" title="techDetails" class="btnFlat accent btn-proceed" onclick="#";>
            <font style="vertical-align:inherit;">Detalles Técnicos</font>
        </button>               
        </div> 
     
        <!-- <div class="infoTecnica"> -->
        <h3>Agregar Imagenes Oficiales del Producto</h3>
        <div class="insertImg">
       
            <!-- <input type="file" name="imagen" /> -->
           
        </div>
        <label for="image" class="form-label">Imagen:</label>
		<input type="file" name="image" id="image" class="form-input">

        <!-- </div> -->
        <div class="price">
            <h3>Valores</h3>
            <!-- <label for="unitCost" class="form-label">Costo por unidad:</label> -->
            <!-- <input type="number" id="unitCost" name="unitCost" placeholder="Ej. 15000" class="form-input"> -->
            
            <!-- <label for="taxes" class="form-label">% Impuestos:</label> -->
            <!-- <input type="number" id="taxes" name="taxes" placeholder="Ej. 35" class="form-input"> -->
           
            <!-- <label for="rentIncome" class="form-label">% Rentabilidad Estimada:</label> -->
            <!-- <input type="number" id="rentIncome" name="rentIncome" placeholder="Ej. 35" class="form-input"> -->
          
            <label for="price" class="form-label">Precio de Venta:</label>
            <input type="number" id="price" name="price" placeholder="Ej. 25000" class="form-input">
           
            <label for="salesPrice" class="form-label">Precio Promoción:</label>
            <input type="number" id="salesPrice" name="salesPrice" placeholder="Ej. 20000" class="form-input">

        <div class="buttons">
            <button type="submit" class="buy-now-button">Guardar</button>
            <button type="trash" class="buy-now-button">Eliminar</button>
            
            <!-- <button type="submit" class="buy-now-button">Actualización Bases y Web</button> -->
           
        </div>
        </div>
   
        </div>
            </ul>
        </div>
    </form>
    </section>



</body>


</html>
