<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a Encontrate</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Noto+Serif:ital,wght@0,700;1,700&family=Roboto&family=Shadows+Into+Light&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/registerAdministrator.css">          
    </head>
<body>
    <h1>Página de Administrador</h1>
    <h2>Carga-Modificación-Elimación de Productos</h2>
    <section class="pageAdministrator">
        <div class="category">
            <ul>
            <li>        
            <label for="text" id="Categoria">Categoría:</label>
            <input type="text" id="Categoria" name="Categoria"></input>
            </li>
            <li>        
            <label for="text" id="subCategoria">Sub Categoría:</label>
            <input type="text" id="subCategoria" name="subCategoria"></input>
            </li>
            </ul>
        <div class="proveedor">
            <ul>
            <li>        
            <label for="text" id="proveedor">Proveedor</label>
            <input type="text" id="proveedor" name="Proveedor"></input>
            </li>
            <li>        
            <label for="number" id="idProveedor">Id Proveedor:</label>
            <input type="number" id="idProveedor" name="idProveedor"></input>
            <li>
            <label for="number" id="tiempoEntrega">Tiempo de Entrega:</label>
            <input type="number" id="costoUnidad" name="costoUnidad"></input>
            </li>



        </div>  
        <div class="descripcion">
            <ul>
            <li>        
            <label for="text" id="description">Descripción:</label>
            <input type="text" id="description" name="description"></input>
            </li>
            <li>        
            <label for="text" id="resenia">Reseña:</label>
            <input type="text" id="resenia" name="resenia"></input>
            </li>



            </li>
            <label for="number" id="vendorPack">Unidades por caja:</label>
            <input type="number" id="vendorPack" name="vendorPack"></input>
            </li>
            <li>
            <label for="number" id="costoUnidad">Costo por Unidad:</label>
            <input type="number" id="costoUnidad" name="costoUnidad"></input>
            </li>
            <li>
            </ul>
        </div>  
        <div class="infoTecnica">


        </div>
        <div class="price">


        </div>
        








        </div>







            </ul>
        </div>












    </section>










</body>


</html>
