/* agregado */
*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}
/* agregado */
header {
    margin-top: 20px;
    margin-left: 40px;
    padding: 0px;    
    box-sizing: border-box;
}
.pagos{ background-color: #DE4E2F;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.cp{font-size: 28px;
    }
.busqueda{margin: 10px;
}

.titulo{text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 60px; 
    padding-bottom: 5px;
    background-color:#B39352;
    color: white;
        margin-bottom:33px;

}
.login-registro{
    margin: 40px;
    margin-top: 60px;
}

.log-reg{
    text-align: end;
    list-style: none;
    margin: 10px;
    margin-top: 15px;
margin-left:60px;
}


.lista-menu{display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    margin-left: 200px;
    margin-bottom: 40px;
    margin-top: 30px;


    }
#searchterm{font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
#search{
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.carritoC{
    list-style: none;
    margin-left: 30px;
}

.menu{display:grid;
    border: solid 2px #ffb88c;
    justify-content: center;
    align-items: center;
    background-color: #ffb88c;
    font-size: 40px;
    font-family: 'Caveat', cursive;
}
.menu:hover{background-color: #fc863d;
    }

.letra{ color:#f53f07;}
.letra:hover{
    color:white;
}

.titulo-novedades{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 40px;
    text-align:center;
    margin-bottom: 25px;
    background-color:#B39352;
    color: white;
    
}

.productos-destacados{
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
    background-color: #DE4E2F;
    color: white;
}


.primera-imagen{align-items: center;
    margin-left: 320px;
    margin-bottom: 30px;
}



body{
    font-family: Lato,sans-serif;
    line-height: 1.2;
    color: #242322;
    min-width: 360px;
    background-color: #fff;
    position: relative;
    margin: 0;
    padding: 0;
}

.imagenes-destacadas{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    

    padding: 30px;
}

.imagen1{
    width: 50%;
    height: auto;
    margin-left: 60px;
}
.imagen2{
    width: 50%;
    height: auto;
margin-left: 60px;
margin-top: 20px;
}

.titulo2{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 34px;
    text-align:center;
    margin-bottom: 25px;
    background-color:#B39352;
    color: white; 
}
.descripción{
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
    background-color: #DE4E2F;
    color: white;
}


.titulo-novedades{
    text-align: center;
    font-family:'Gloria Hallelujah', cursive;
   background-color:  #B39352;
    color: white;
    font-size: 40px;
}

.productos-destacados{text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
   
    font-size: 35px;
}

.imagenes-tercermain{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.tercermain{margin: 5px;
    width: 80%;
height: auto;   
margin-left: 60px;

}
.tercermain1{margin: 5px;
    width: 80%;
height: auto;   
margin-left: 60px;
}
.ayuda{  text-align: center;
    font-family:'Gloria Hallelujah', cursive;
   background-color:  #B39352;
    color: white;
    font-size: 40px;
    margin-top: 10px;
}

.contacto{ font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
    background-color: #DE4E2F;
    color: white;
    margin-top: 10px;
}

.columnas-footer{display: grid;
    grid-template-columns: 1fr 1fr;
}




.footer{
    border-top: 1px solid rgba(36,35,34,.1);
    border-bottom: 1px solid rgba(36,35,34,.1);
    padding: 20px 0;
    margin: 20px 0;
    background-color: #fff696;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.primera-columna{
        color: #242322;
    list-style: none;
    padding: 10px 0;
}
.segunda-columna{
    color: #242322;
    list-style: none;
    padding: 10px 0;
}

.encontrate{font-family: 'Acme', sans-serif;
    font-size: 28px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.snosotros{font-family: 'Acme', sans-serif;
    font-size: 28px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.en{font-family: 'Acme', sans-serif;
    color: black;
    font-size: 18px;
    list-style: none;

}

.sn{font-family: 'Acme', sans-serif;
    color: black;
    font-size: 18px;
    list-style: none;

}
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}