.titulo{text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 60px; 
    padding-bottom: 5px;
    background-color:#B39352;
    color: white;
    margin-right:20px;
    margin-bottom:33px;

}

/*iniciar sesion recuadro*/
.hola{
    color: #B39352;
    text-align: center;
    font-size:  24px;
    font-family: 'Gloria Hallelujah', cursive;
}

/*contraseña*/
.form-group {
    font-size: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    color:#de4e2f;
}

.correo {
    font-size: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    color:#de4e2f;
    text-align: center;
    }

.container-login {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    font-size: 25px;
   color:#de4e2f;
}
/*contenido de contraseña*/
.tu-clave {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    text-align: center;
}