body { 
    box-sizing: border-box;   
  }
.page{  
    display: grid;
    display: -ms-inline-grid;  
    font-family: 'Gloria Hallelujah', cursive;
    line-height: 1.2;
    color: #242322;
    min-width: 360px;
    background-color: #fff;
    position: relative;
    margin: 0;
    padding: 20px;
    width: 70%;
    height: 50%;
}
h6{
    display: -ms-inline-grid;
    margin: top 20px;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Gloria Hallelujah', cursive;
    margin: 0;
    margin-bottom: 20px;
    margin-left: 25px;
    vertical-align: inherit;
    padding: 0px;
}

.product-container{
    /* grid-template-columns: [itemImg] 40px [itemInfo] 150px [qty] 50px [price] 50px [trash] 50px; */
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
    display: grid;
    grid-template-columns: 20% 30% 5% 30% 10%;
    grid-auto-flow: row;
    justify-content:center;
    padding-left: 20px;
    padding-right: 20px;
    border-top: solid grey 2px;
    border-bottom: solid grey 2px;
}   
p {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    font-weight: 90;
    font-size: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    margin-bottom: 50px;
}
.item-productImg img{
    display: grid;
    grid-column: x0 / x1;
    text-align: center;
    width: 120px;
    height: 100px;
    margin: 0;
    justify-content:center;
}
.item-deleted{
    font-weight: 30px;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-top: 25px;

}
.totals{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-flow: row;
    justify-content:center;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid grey 2px;
}
.envio{
    color: green;
}
i.fa.btooltip{
    color: #00b3ad;
}
.placer-order{

}
.button .moreShop{
    size: 100px;
    background-color: red;
}
.tooltip.in {
    opacity: 1!important;
}





@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
}
main section article:hover .description{
    display:block;
}
.pie{
    justify-content:center;
}