.titulo{text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 60px; 
    padding-bottom: 5px;
    background-color:#B39352;
    color: white;
    margin-right:20px;
    margin-bottom:33px;

}

.primero{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #de4e2f;
    color: white;
    font-size: 27px;
} 
.form-group {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    background-color: white;
    }
.registrarme{
    text-align: center;
 font-family: 'Gloria Hallelujah', cursive;
    color:#B39352;
    font-size: 20px;
}

.form-control js.validate.is-required {
    font-family: 'Gloria Hallelujah', cursive;
}
    

.adentro {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 22px;
}

.registrarme1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
    color: #de4e2f;
    font-weight: bold;
}

.confirmar {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
       color:#B39352;
       font-size: 20px;
}