<!DOCTYPE html>
<html>
    
<body>
    <!-- <link rel="stylesheet" href="/css/productCar.css"> -->
         <!-- se incluye Head -->
         <%-include('./partials/head') %>
         <!-- Se incluye Header -->
         <%-include('./partials/header') %>
    <h6>Carrito de compras</h6>
<div class="page">        
        <div class="product-container layout">
            <!-- <div class="article">     -->
            <div class="item-productImg"><img class="gps" src="img/gps-aventura-2-motor-coche-4x4-quad-moto-es-2.jpg"></div>
            <div class="item-productInfo">
                <div class="name">
                    <p>GPS Aventura 2_motor</p>                              
                </div>
            </div>
            <div class="item-qty">
                <p>1</p>
            </div>
            <div class="item price">
                <p> $ 28.900</p>
            </div>
            <div class="item-deleted">
                <i class="fas fa-trash"></i>
            </div>                
            <!-- </div> -->
        </div>             
    <!-- Sección sub totales, totales y envío -->
        <div class="totals">
            <div class="parcial">
                <p>Sub-Total</p>
            </div>    
            <div class="amount-subtotal">
                <p>$ 28.900</p>
            </div>
                      <!-- Envío -->
            <div class="envio">
                <p>Envio<i class="fa fa-question-circle btooltip" data-toggle="tooltip" data-placement="bottom" title data-original-title="Envío gratuito en pedidos superiores a $ 4.000" aria-describedby="tooltip83321">..</i></p>
            </div> 
            <div class="envioValor">        
                <p>Envio Gratis</p> 
            </div>
            <!-- Total -->
            <div class="totalCar">
                <p>Valor Total<p>
            </div>
            <div class="valorTotal">
                <p>$ 28.900<p>
            </div>
        </div>
            <div class="placer-order">
            <button type="moreShop" title="Seguir-comprando" class="btmFlat is-transparent hidden-to-md" onclick="index">
                <font style="vertical-align:inherit;">Seguir comprando</font>
            </button>
            <button type="payment" title="Pagar" class="btnFlat accent btn-proceed" onclick="#";>
                <font style="vertical-align:inherit;">Pagar</font>
            </button>
            <div class="whatsapp">
                <span style="font-size: 72px;"><i class="fab fa-whatsapp"></i></span>
            </div>
        </div>
</div>  
 <!-- Se incluye Footer -->

 <%-include('./partials/footer') %> 
</body>
</html>

