

<header>
    <link rel="stylesheet" href="/css/registerAdministrator.css">
<nav>
    <div>
          <ul class="lista-menu">
              <li class="menu"><a class="letra" href="productEdition">Edición de Productos</a></li>
              <li class="menu"><a class="letra" href="registerAdministrator">Administrador</a></li>
              <li class="menu"><a class="letra" href="/products">Listado de Productos</a></li>
              <li class="menu"><a class="letra" href="/enConstruccion">Proveedores</a></li>
              <li class="menu"><a class="letra" href="/enConstruccion">Bancos</a></li>
              <li class="menu"><a class="letra" href="/enConstruccion">Facturación</a></li>
              <li class="menu"><a class="letra" href="/">Vista Cliente</a></li>
          </ul>
   </div> 
</nav>
</header>