<!DOCTYPE html>
<html>
    
<body>
     

<main>  
   
        <div class="imagen-grande">
            <img class="primera-imagen" src="/img/bg-ksp-content-01-01.jpg">
        </div>
        <div class="segundo-main">
            <h3 class="titulo-novedades">NOVEDADES</h3>
            <h2 class="productos-destacados">Productos Destacados</h2>

            <div class="imagenes-destacadas">
              <img class="imagen1" src="/img/laptop.png">
              <img class="imagen2" src="/img/land-bg-animation-desktop.png">  
            </div>
        </div>
        <div class="tercer-main">
            <h4 class="titulo2">Cuando la Seguridad en la Orientación outdoor realmente Importa</h4>
            <p class="descripción">Gran combinación de GPS, software de navegación premium y la más amplia colección de mapas para preparar tus rutas y disfrutarlas de manera segura</p>
            
            <div class="imagenes-tercermain">
                <img class="tercermain1" src="/img/twonav-gps-routes-rutas-desktop.jpg">
                <img  class="tercermain"src="/img/twonav-gps-strava-trainingpeaks-desktop.jpg">
            </div>
        </div>
</main>

 

</body>
</html>